#**Task:  Geospatial Analysis**

In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [94]:
df = pd.read_csv(r'C:\Users\kuldeep singh\OneDrive\Desktop\Cognifyz-Technologies\dataset.csv')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [95]:
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

(None,
    Restaurant ID         Restaurant Name  Country Code              City  \
 0        6317637        Le Petit Souffle           162       Makati City
 1        6304287        Izakaya Kikufuji           162       Makati City
 2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
 3        6318506                    Ooma           162  Mandaluyong City
 4        6314302             Sambo Kojin           162  Mandaluyong City

                                              Address  \
 0  Third Floor, Century City Mall, Kalayaan Avenu...
 1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
 2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
 3  Third Floor, Mega Fashion Hall, SM Megamall, O...
 4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                      Locality  \
 0   Century City Mall, Poblacion, Makati City
 1  Little Tokyo, Legaspi Village, Makati City
 2  Edsa Shangri-La, Ortigas, Mandaluyong City
 3      SM Megamall, Ortigas, Mandaluyong City
 4      SM Megamall, Ortigas, Mandaluyong City

                                     Locality Verbose   Longitude   Latitude  \
 0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
 1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
 2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
 3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
 4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                            Cuisines  ...          Currency Has Table booking  \
 0        French, Japanese, Desserts  ...  Botswana Pula(P)               Yes
 1                          Japanese  ...  Botswana Pula(P)               Yes
 2  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)               Yes
 3                   Japanese, Sushi  ...  Botswana Pula(P)                No
 4                  Japanese, Korean  ...  Botswana Pula(P)               Yes

   Has Online delivery Is delivering now Switch to order menu Price range  \
 0                  No                No                   No           3
 1                  No                No                   No           3
 2                  No                No                   No           4
 3                  No                No                   No           4
 4                  No                No                   No           4

    Aggregate rating  Rating color Rating text Votes
 0               4.8    Dark Green   Excellent   314
 1               4.5    Dark Green   Excellent   591
 2               4.4         Green   Very Good   270
 3               4.9    Dark Green   Excellent   365
 4               4.8    Dark Green   Excellent   229

 [5 rows x 21 columns])

#*Visualize the locations of restaurants on amap using latitude and longitudeinformation.*

In [96]:
import folium
from folium.plugins import MarkerCluster

In [97]:
center_lat = df['Latitude'].mean()
center_lat

np.float64(25.854380700074756)

In [98]:
center_lon = df['Longitude'].mean()
center_lon

np.float64(64.12657446168706)

In [99]:
map_restaurants = folium.Map(location=[df['Latitude'].mean(), df['Longitude'].mean()], zoom_start=2)
map_restaurants

In [100]:
marker_cluster = MarkerCluster().add_to(map_restaurants)
marker_cluster

In [101]:
map_file_path = r"C:\Users\kuldeep singh\OneDrive\Desktop\Cognifyz-Technologies\level1\restaurant_map.html"
map_restaurants.save(map_file_path)

In [102]:
map_file_path

'C:\\Users\\kuldeep singh\\OneDrive\\Desktop\\Cognifyz-Technologies\\level1\\restaurant_map.html'

In [103]:
map_file_path

'C:\\Users\\kuldeep singh\\OneDrive\\Desktop\\Cognifyz-Technologies\\level1\\restaurant_map.html'

# *Analyze the distribution of restaurantsacross different cities or countries.*
# *Determine if there is any correlationbetween the restaurant's location and itsrating.*

*Analyze the distribution of restaurantsacross different cities or countries*

In [104]:
city_counts = df['City'].value_counts()
city_counts

City
New Delhi         5473
Gurgaon           1118
Noida             1080
Faridabad          251
Ghaziabad           25
                  ...
Lakes Entrance       1
Mohali               1
Panchkula            1
Bandung              1
Randburg             1
Name: count, Length: 141, dtype: int64

In [105]:
country_counts = df['Country Code'].value_counts()
country_counts

Country Code
1      8652
216     434
215      80
30       60
189      60
214      60
148      40
208      34
14       24
162      22
94       21
166      20
184      20
191      20
37        4
Name: count, dtype: int64

In [106]:
country_code_map = {
    1: 'India', 14: 'Australia', 30: 'Brazil', 37: 'Canada', 94: 'Indonesia',
    148: 'New Zealand', 162: 'Philippines', 166: 'Qatar', 184: 'Singapore',
    189: 'South Africa', 191: 'Sri Lanka', 208: 'Turkey', 214: 'UAE',
    215: 'United Kingdom', 216: 'United States'
}

In [107]:
df['Country'] = df['Country Code'].map(country_code_map)
df['Country']

0       Philippines
1       Philippines
2       Philippines
3       Philippines
4       Philippines
           ...
9546         Turkey
9547         Turkey
9548         Turkey
9549         Turkey
9550         Turkey
Name: Country, Length: 9551, dtype: object

In [108]:
restaurants_by_country = df['Country'].value_counts()
restaurants_by_country

Country
India             8652
United States      434
United Kingdom      80
Brazil              60
South Africa        60
UAE                 60
New Zealand         40
Turkey              34
Australia           24
Philippines         22
Indonesia           21
Qatar               20
Singapore           20
Sri Lanka           20
Canada               4
Name: count, dtype: int64

In [109]:
restaurants_by_city = df['City'].value_counts().head(10)
restaurants_by_city

City
New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Lucknow           21
Ahmedabad         21
Amritsar          21
Guwahati          21
Name: count, dtype: int64

In [110]:
city_rating = df.groupby('City')['Aggregate rating'].mean().sort_values(ascending=False)
city_rating

City
Inner City          4.900000
Quezon City         4.800000
Makati City         4.650000
Pasig City          4.633333
Mandaluyong City    4.625000
                      ...
New Delhi           2.438845
Montville           2.400000
Mc Millan           2.400000
Noida               2.036204
Faridabad           1.866932
Name: Aggregate rating, Length: 141, dtype: float64

In [111]:
country_rating = df.groupby('Country')['Aggregate rating'].mean().sort_values(ascending=False)
country_rating

Country
Philippines       4.468182
Turkey            4.300000
Indonesia         4.295238
New Zealand       4.262500
UAE               4.233333
South Africa      4.210000
United Kingdom    4.087500
Qatar             4.060000
United States     4.004378
Sri Lanka         3.870000
Brazil            3.763333
Australia         3.658333
Canada            3.575000
Singapore         3.575000
India             2.523324
Name: Aggregate rating, dtype: float64

In [112]:
city_rating_counts = df.groupby('City').agg({
    'Aggregate rating': 'mean',
    'Restaurant ID': 'count'
}).rename(columns={'Restaurant ID': 'Restaurant Count'})
city_rating_counts

                 Aggregate rating  Restaurant Count
City
Abu Dhabi                4.300000                20
Agra                     3.965000                20
Ahmedabad                4.161905                21
Albany                   3.555000                20
Allahabad                3.395000                20
...                           ...               ...
Weirton                  3.900000                 1
Wellington City          4.250000                20
Winchester Bay           3.200000                 1
Yorkton                  3.300000                 1
ï¿½ï¿½stanbul                4.292857                14

[141 rows x 2 columns]

*Determine if there is any correlationbetween the restaurant's location and itsrating*

In [113]:
correlation = city_rating_counts['Aggregate rating'].corr(city_rating_counts['Restaurant Count'])
correlation

np.float64(-0.3286275051029894)

In [114]:
restaurants_by_country.head(), restaurants_by_city, city_rating.head(), country_rating.head(), correlation

(Country
 India             8652
 United States      434
 United Kingdom      80
 Brazil              60
 South Africa        60
 Name: count, dtype: int64,
 City
 New Delhi       5473
 Gurgaon         1118
 Noida           1080
 Faridabad        251
 Ghaziabad         25
 Bhubaneshwar      21
 Lucknow           21
 Ahmedabad         21
 Amritsar          21
 Guwahati          21
 Name: count, dtype: int64,
 City
 Inner City          4.900000
 Quezon City         4.800000
 Makati City         4.650000
 Pasig City          4.633333
 Mandaluyong City    4.625000
 Name: Aggregate rating, dtype: float64,
 Country
 Philippines    4.468182
 Turkey         4.300000
 Indonesia      4.295238
 New Zealand    4.262500
 UAE            4.233333
 Name: Aggregate rating, dtype: float64,
 np.float64(-0.3286275051029894))